<div class="row d-flex">
    <div class="mr-11">
        <MatProgressCircle Indeterminate="true" FourColored="true" />
    </div>
    <div class="pt-05">@Message</div>
</div>

@code {
    [Parameter] public string Message { get; set; }
}
